XML/04.11.2017/примерни решения/movies_generated.dtd.txt

<!ELEMENT movies (movie)+>
<!ELEMENT movie (title,studio,producer,actors,images?)>
<!ATTLIST movie
    is_in_colour (Y|N) #REQUIRED
    length NMTOKEN #REQUIRED
    year NMTOKEN #REQUIRED>

<!ELEMENT title (#PCDATA)>

<!ELEMENT studio (name,address)>
<!ATTLIST studio presc NMTOKEN #REQUIRED>

<!ELEMENT producer (name,address,networth)>
<!ATTLIST producer cert NMTOKEN #REQUIRED>

<!ELEMENT actors (actor)+>

<!ELEMENT images (image)+>

<!ELEMENT networth EMPTY>
<!ATTLIST networth
    currency NMTOKEN #REQUIRED
    value NMTOKEN #REQUIRED>

<!ELEMENT actor (name,address)>
<!ATTLIST actor
    birthdate NMTOKEN #REQUIRED
    gender (M|F) #REQUIRED>

<!ELEMENT image (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
