XML/04.11.2017/примерни решения/movies.dtd.txt

<!ELEMENT movies (movie+) >

    <!ELEMENT movie (title, studio, producer, actors, images?) >
    <!ATTLIST movie year NMTOKEN #REQUIRED
                    length NMTOKEN #REQUIRED
                    is_in_colour (Y|N) #REQUIRED>
                    
        <!ELEMENT title (#PCDATA) >
        <!ELEMENT studio (name, address) >
            <!ATTLIST studio presc NMTOKEN #IMPLIED >
            <!ELEMENT name (#PCDATA) >
            <!ELEMENT address (#PCDATA) >
        <!ELEMENT producer (name, address, networth) >
            <!ATTLIST producer cert NMTOKEN #IMPLIED>
            <!ELEMENT networth EMPTY >
                <!ATTLIST networth value NMTOKEN #REQUIRED
                                   currency NMTOKEN #FIXED "USD">
       <!ELEMENT actors (actor+) >
            <!ELEMENT actor (name, address) >
                <!ATTLIST actor gender (F|M) #REQUIRED
                                birthdate NMTOKEN #REQUIRED>

        <!ELEMENT images (image+) >
            <!ELEMENT image (#PCDATA) >