XML/04.11.2017/примерни решения/pharmacy_catalog.dtd.txt

<!ELEMENT catalog (medicines, types, illnesses, medicine_units) >

<!ELEMENT medicines (medicine+) >

    <!ELEMENT medicine (name, price, available, image*, package, items_in_package, active_substances, description?, manufacturer) >
    <!ATTLIST medicine id ID #REQUIRED 
                       type IDREF #REQUIRED 
                       illnesses IDREFS #REQUIRED >
                       
        <!ELEMENT name (#PCDATA) >
        <!ELEMENT price (#PCDATA) >
            <!ATTLIST price currency (BGN) #REQUIRED>
        <!ELEMENT available (#PCDATA) >
        <!ELEMENT image (#PCDATA) >
        <!ELEMENT package (#PCDATA) >
        <!ELEMENT items_in_package (#PCDATA) >
            <!ATTLIST items_in_package unit IDREF #REQUIRED >
        <!ELEMENT active_substances (active_substance+)>
            <!ELEMENT active_substance (title, quantity, international_title)>
                <!ELEMENT title (#PCDATA) >
                <!ELEMENT quantity (#PCDATA) >
                    <!ATTLIST quantity unit CDATA #REQUIRED >
                <!ELEMENT international_title (#PCDATA) >
        <!ELEMENT description (#PCDATA) >
        <!ELEMENT manufacturer (#PCDATA) >
        
<!ELEMENT types (type+) >
    <!ELEMENT type (#PCDATA) >
    <!ATTLIST type type_id ID #REQUIRED>
    
<!ELEMENT illnesses (illness+) >
    <!ELEMENT illness (#PCDATA) >
    <!ATTLIST illness illness_id ID #REQUIRED>
    
<!ELEMENT medicine_units (medicine_unit+) >
    <!ELEMENT medicine_unit (#PCDATA) >
    <!ATTLIST medicine_unit id ID #REQUIRED>